h3{
    color: black;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 7px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}
body{
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    color:black;
    
}
pre{
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    color: black;
}
.font{ 
    color: rgb(255, 255, 255);
}
footer{
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    color: white;
}
